<!DOCTYPE html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Chi tiết đặt phòng</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap Datepicker -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="details_homestay.css">
  </head>
  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-custom">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="https://s3-alpha-sig.figma.com/img/c4df/73f7/c5da056a65f2ad9e5d3ad0beeec4c373?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=CnOkPOja-3uhqFvpv2hCz2W~Cu3~H3M3vsYhHXGzAWVgri-U5Sc02g2Py8yUVeNJifz9kyq0OKWzQbDTAMphyb0Td1oV~Wyj3B7z0XNRFBhI45KIqNGqfLBf3dySu8qtVd5spbacAdmCSecfJDskZKBBz6x0CjysM375tEsn1x9YTALwPpykWT7J7ysFhXhS79Ez9TR3M6X8hDBjHaabw3HS6ECMIm~qnSE851YcNl9QYhNwCmb1~uy2vGbu~VP1gxUzanPkymwkNmAqwrIZrNTk0vwQpYufabXWrAnqvo7u5albDMJ5dx0AT4f0A1ZBvYan8bIT9u8BgVC0G6HupQ__" alt="Logo" class="logo">  </a>
        <ul class="navbar-nav mx-auto">
          <li class="nav-item"><a class="nav-link" href="#">TRANG CHỦ</a></li>
          <li class="nav-item"><a class="nav-link" href="#">GIỚI THIỆU</a></li>
          <li class="nav-item"><a class="nav-link" href="#">CĂN HỘ</a></li>
          <li class="nav-item"><a class="nav-link" href="#">LIÊN HỆ</a></li>
          <li class="nav-item"><a class="nav-link" href="#">ĐÁNH GIÁ</a></li>
        </ul>
        <!-- logo -->
        <div>
          <button class="btn btn-login">ĐĂNG NHẬP</button>
      </div>
      </div>
    </nav>
    <!-- box trang chủ  -->
    <div class="product-info-container">
      <div class="product-info-box">
        <div class="product-details">
            <h3>Trang chủ/Căn hộ/V275</h3>
            <hr>
            <div class="image-gallery">
                <div class="main-image">
                    <img src="https://s3-alpha-sig.figma.com/img/8d5b/10ab/eb4e80599e89379b9f38d0251e36dbcc?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=d6Z3Ry~yesqcCcEuSmf2SoranmjeJiLu7MZlxoBBvdc3rZcZxMQf04pflcjmies-LdpKlh7AiWURftkedjl0jsOokHYNBZcNT4PkGSB8ee82NDhoBXA507DoAVTehrvp6GvPyZcF8uBxUOAPEjz3Z0LkHdQQMIO-pAO5-VPEENniW7dM7biZGidEnSce7qzA-aD9x0nbiILk8orlGx8ZkPqqGGPjWyOaDUN39MNWLqUOeB3GJRRUnnxPyUjhhgrwPr31qQPdS7XQTuBoOZq-pojVrYdPNTFQBqdbFrgViuSqhPzR9l7Nw2D3aau-7hVNgTLxClYcUb1eUCw4YC1qHQ__" 
                    alt="Ảnh lớn">
                </div>
                <div class="thumbnail-images">
                    <img src="https://s3-alpha-sig.figma.com/img/7fae/d608/852d8d06432ebcb79c4f0e7f3a6a1b70?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=FwUX6-~0P1P694biFOHd5R31dAb42shSbWjTm3MKZoAo~eHq6j0kCe~kvh2iqBBck-4ioa5Ogx7d3yXttde2vPacZkJSIG4rZfHM17xrXHVYjSIUFV5xGbS8aXNwcNytJsfi3DyhVm7R9RXCjOHRBKjPBvokIrmgJ3boeFNFF4twL1d2nlQ45oE7KbHwFjw8ZpIKq-XIO5oIKTzncFZrnH29PhUQs0pVIcfVKuf2NW92jU1ul856Mlr9Q2LstOjStpg5Sn56fBxxfg0JAZQV8uLEjKA7Ip1WjUvXCE7PJiqec1zt64vRuHMr~dy8Uemjq--DOPy-sE2jL0OQnXS~Uw__" 
                    alt="Ảnh nhỏ 1">
                    <img src="https://s3-alpha-sig.figma.com/img/4a7c/6dce/f250988436175f6a69f1708387c23f1b?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=soKuEtkQ7YHpMbtcO2PfEr5~7G2tpxk~b8qAvpjsnse5gpznuLzYX4BzUJEyr4Naxu5~7Vubm3g1p0Y3~j1oFYDEpPLrPeWuG5PQOvrY2HmGxEucQfoQaT5eXXj6JcxHpdGh6tYz~3YDr3WRrlJOsr73GXepBuvNtXBcQkKwX8a3L43DskV9f0jEtydYrlPbpk358-ARFGytvjabHqcLCsuvdYLYhmE4RMPpDewBtSuU1hMYpfOkc8faoW~16LLfskraP~RRBjDKOiT-oZwdUBNz-e2LakXhhtkfq~RHE3OCs4oh9Y64ncaTOLW9lXtF8DHiP2lO~KZ2ji~rqXe45g__" 
                    alt="Ảnh nhỏ 2">
                    <img src="https://s3-alpha-sig.figma.com/img/a2b1/6398/54bddd38396378d2543fd2c97d0500af?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=t7Vg2TPTk8Vz5Chn~kHBWK1UTIZXw3zToo6G7g0AwR5cAPlcPbrKcwfqa~O5tj-DI-s3uTYAvyNlGZoA-thhqmGMDfpZpS6Jvcfaz7SlDnqdJt0SCxBiyBXyCbUAi1a1~AU1ihunUt3AVJEV7ES-IoXkKkxLl7jynDNs-I9aAWAcFtEPyR-QgO0udO7b3PqmdBpZPGzB1ZGX6lP5Adgt192J0USkwK9w~Wx~rlAVgBqPdSFOuzGI3lDy4d-zkBjc6yCMvBN-nWyUAi~nk~0ziZ48NRSmNBWlUn3Sv~GMvoyhiuK0fUcaNtby2fWbHOWhtjuujNlYFhEt~Rfn7STIKw__" 
                    alt="Ảnh nhỏ 3">
                    <img src="https://s3-alpha-sig.figma.com/img/7559/8f67/7ee9314773bdfe9acecf35f3bc93e34e?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=g3KWNXBAvrEqdTBbb-fnPmSXf3LMSoDyZtNVRq9pafApmqBxKd-MzEhZ5x4JUsGRNj8KkLIGxWeHy6r97hNvqYmSMpGcNBvQFWsHm9n3fWcdMye8cYOBy7WroKMZbM4WDNJar4LgHTxxMF22XWZTgFPY7Id1Di~0nl8Vcb7cGmnIRp3Ug0cVnCjgwwFDP-BcsxbJRwWWtyksvLRJ4NUa4syBZstrn03bRzUfu6XgeaNNtxMH6X9gH7o3NBo3a3XPF3fuynhyU0HPYPyXHglQjMty7TOL6s90BZrtgFPM7qkDb6ZOQfJH~o1-wU2srvT9h9H8peRFSm0VTfnVYeAmLA__" 
                    alt="Ảnh nhỏ 4">
                </div>
            </div>
            <ul>
                <li>Phường 11</li>
                <li>4 phòng ngủ</li>
                <li>Sân vườn BBQ</li>
                <li>8 người</li>
            </ul>
            <p>Ra mắt một chiếc home xinh xắn tone màu vàng ấm áp với sân vườn rộng và nhiều góc so chill </p>
            <p>✨Cơ cấu gồm : 4 phòng ngủ</p>
            <p>- 1 Phòng 1giường 1m8 (wc trong)</p>
            <p>- 1 Phòng 2 giường 1m6 + 1m2 (wc trong)</p>
            <p>- 2 Phòng 1 giường 1m6 (wc ngoài)</p>
            <p>✨Phòng khách với không gian rộng, có bếp đầy đủ tiện nghi.</p>
            <p>✨Có thêm một bếp mở ngoài trời, khu vực đốt lửa, bàn ghế BBQ, máy giặt, sấy .</p>
            <p>✨View nhà lộng lung linh về đêm cho những buổi tối BBQ bên ánh lửa thật ấm cúng cùng gia đình .</p>
            <p>✨Cách trung tâm 7 phút đi xe, xe oto đậu trong sân hoặc trước nhà .</p>
            <p>☎️☎️☎️ Hotline, Zalo tư vấn : 0863-205-333-702</p>
        </div>
      </div>
      <!-- box trang chủ  -->

      <!-- box giá phòng -->
      <div class="right-tables">
        <div class="price-table">
          <h3>Giá phòng : 1.000.000đ/Ngày</h3>
          <div class="booking-form">
              <div class="form-group">
                  <div class="guest-info">
                      <label for="adults">Số khách:</label>
                      <input type="number" id="adults" value="0">
                  </div>
                  <div class="child-info">
                      <label for="children">Số trẻ em:</label>
                      <input type="number" id="children" value="0">
                  </div>
              </div>
              <div class="form-group">
                  <div class="checkin-date">
                      <label for="checkin">Ngày nhận:</label>
                      <input type="date" id="checkin">
                  </div>
                  <div class="checkout-date">
                      <label for="checkout">Ngày đi:</label>
                      <input type="date" id="checkout">
                  </div>
              </div>
              <button class="book-now">Đặt ngay</button>
          </div>
      </div>
        <!-- box giá phòng -->

        <!-- box căn hộ khác -->
        <div class="other-apartments">
          <h3>Các căn hộ khác</h3>
          <div class="apartment-list">
              <div class="apartment-item">
                  <img src="https://s3-alpha-sig.figma.com/img/3739/4f88/11452a60eb035d1af6c8827a0fc86c31?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=NfsxdW1khj16qVO4jtrCCZk3eJvnaa6wOipEDnReMhZOsEU8p10pxIU0BOP~wAZho0pIiPfdgli9i72Uf6jNF0l5l7r82taB-RrNa0eUoNe~PTOe~AAiv2e2WAvywm0IMJliuTujRMyUuzkqIOazV3wZLCoVnGXgpRPDCISYTWamxT4rVL56OHsscbyQYJZaIjoIMzLBTjDEf1pj88NFrsjRDz~5qc8v25uTuXfY0bCQhWLcJmZb-K7~ClGtb37yo1WeHKuHpjcyTGQSKfUiPzavGE5807sBXPgsRR1pbvvtyZcp61S~GKr6vld9NCkPcqnQHzZEO09TMPOmGftfRg__" 
                  alt="Căn hộ 1">
                  <a href="https://s3-alpha-sig.figma.com/img/3739/4f88/11452a60eb035d1af6c8827a0fc86c31?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=NfsxdW1khj16qVO4jtrCCZk3eJvnaa6wOipEDnReMhZOsEU8p10pxIU0BOP~wAZho0pIiPfdgli9i72Uf6jNF0l5l7r82taB-RrNa0eUoNe~PTOe~AAiv2e2WAvywm0IMJliuTujRMyUuzkqIOazV3wZLCoVnGXgpRPDCISYTWamxT4rVL56OHsscbyQYJZaIjoIMzLBTjDEf1pj88NFrsjRDz~5qc8v25uTuXfY0bCQhWLcJmZb-K7~ClGtb37yo1WeHKuHpjcyTGQSKfUiPzavGE5807sBXPgsRR1pbvvtyZcp61S~GKr6vld9NCkPcqnQHzZEO09TMPOmGftfRg__">
                    DAISY & VILLA VŨNG TÀU VKVS</a>
              </div>
              <div class="apartment-item">
                  <img src="https://s3-alpha-sig.figma.com/img/77a4/4ea0/425359fb1e86a5fa18137db4bc6c6058?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=UlMaKrP7X2TwFEPNipG~TGZG5oTQB0YHymN1fc0WMXk0LF-k-4aedM4R2vAX1eQcfLX2VAJcab0A2lxthK4TD0EgMjkPN0Yn7032tYmO2~eN4DXbaIOkf~uCtLKn06TCOiQ3L0Nxrk9v~q~-Bym8rww6LGYb9r~LFtI7EQtHMCwvbU~dDmy0GZyY5WLqLBKGuSUO~vW47llhr-f2CMaDZcH4KPoHkyBkpQ-xwMobthPVplgheNBAx1Kgh37aD1-79xIA6yNbppZYzaMI5dJx9nCSEt4WTQT2RzCkRyEC~8f9ePPOSIyLe-gCWXGm-2rq2B4-X5q52VfcZDc3dtzo3Q__" 
                  alt="Căn hộ 2">
                  <a href="https://s3-alpha-sig.figma.com/img/77a4/4ea0/425359fb1e86a5fa18137db4bc6c6058?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=UlMaKrP7X2TwFEPNipG~TGZG5oTQB0YHymN1fc0WMXk0LF-k-4aedM4R2vAX1eQcfLX2VAJcab0A2lxthK4TD0EgMjkPN0Yn7032tYmO2~eN4DXbaIOkf~uCtLKn06TCOiQ3L0Nxrk9v~q~-Bym8rww6LGYb9r~LFtI7EQtHMCwvbU~dDmy0GZyY5WLqLBKGuSUO~vW47llhr-f2CMaDZcH4KPoHkyBkpQ-xwMobthPVplgheNBAx1Kgh37aD1-79xIA6yNbppZYzaMI5dJx9nCSEt4WTQT2RzCkRyEC~8f9ePPOSIyLe-gCWXGm-2rq2B4-X5q52VfcZDc3dtzo3Q__">
                    DAISY VILLA VŨNG TÀU KVS</a>
              </div>
              <div class="apartment-item">
                  <img src="https://s3-alpha-sig.figma.com/img/3b8e/46cf/139ec461174a545aaf4e79859be1b740?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=EBwSzLhERg2AOBrWiS7bRWImvw9j3tpnRMY5LUHMz3-1TpwSqXwY9bnkcY56sRdGL196SA-nvHitbM-7avrVE7Kcx~2LO9q4OxuzTpzUhLuXp-w1oEIvLMT6ExJFCMxzMi4~3RfgPLd-oLQqiOC3eXUXU50rTmwgbpq1wbQwD50QBUETxDhfy8HBqixHZlyPIpjUMfL2HSj9yh~BVruc0Ltes8SMWNsI9zZPG9~o17WUusCqxRoq2RHoGIOmk4Nib~yj~yCE9l0SBI47mEW5TuTsNeIWs6Tt3GnLd1QbKm-lWj5bfKLzmfVwWEDXCSzZS2uj5y0M5h2sOwgKe29YFg__" 
                  alt="Căn hộ 3">
                  <a href="https://s3-alpha-sig.figma.com/img/3b8e/46cf/139ec461174a545aaf4e79859be1b740?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=EBwSzLhERg2AOBrWiS7bRWImvw9j3tpnRMY5LUHMz3-1TpwSqXwY9bnkcY56sRdGL196SA-nvHitbM-7avrVE7Kcx~2LO9q4OxuzTpzUhLuXp-w1oEIvLMT6ExJFCMxzMi4~3RfgPLd-oLQqiOC3eXUXU50rTmwgbpq1wbQwD50QBUETxDhfy8HBqixHZlyPIpjUMfL2HSj9yh~BVruc0Ltes8SMWNsI9zZPG9~o17WUusCqxRoq2RHoGIOmk4Nib~yj~yCE9l0SBI47mEW5TuTsNeIWs6Tt3GnLd1QbKm-lWj5bfKLzmfVwWEDXCSzZS2uj5y0M5h2sOwgKe29YFg__">
                    DAISY VILLA VŨNG TÀU TVB4</a>
              </div>
              <div class="apartment-item">
                  <img src="https://s3-alpha-sig.figma.com/img/dfa4/11d0/da969cd0db887d18bdf4d348dc6f66c5?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=MU~uoRUvNd1jfOuK8blIZZfYclYd38LUiYd997bS6gvE-ngPMPr17Eecp6ebDST9xAa7cnsf-CpMcqfXtvDo3H1MFs9YV0YI0lKGUCRX~adp36wlhFnXyDP1NQc6xxzzj197vI2Srb-yB5hHElGpaG7PwH2vzr0iMWaIPqbSHTKxmM-ZW27idSvhO0waFmsiksIx~ZlIFDRbSWZqjjvjzBULR2AugAB94OQxYHxmMFF6hGjQVH57feq6VqP4RW-K8tg75AGQJt-PVU07cx--~HljUUPs~Rb6iYned678GQPSecjjZmZVt0A30bmJJ5hTg9vymoucCc25alOwpSIYtQ__" 
                  alt="Căn hộ 4">
                  <a href="https://s3-alpha-sig.figma.com/img/dfa4/11d0/da969cd0db887d18bdf4d348dc6f66c5?Expires=1744588800&Key-Pair-Id=APKAQ4GOSFWCW27IBOMQ&Signature=MU~uoRUvNd1jfOuK8blIZZfYclYd38LUiYd997bS6gvE-ngPMPr17Eecp6ebDST9xAa7cnsf-CpMcqfXtvDo3H1MFs9YV0YI0lKGUCRX~adp36wlhFnXyDP1NQc6xxzzj197vI2Srb-yB5hHElGpaG7PwH2vzr0iMWaIPqbSHTKxmM-ZW27idSvhO0waFmsiksIx~ZlIFDRbSWZqjjvjzBULR2AugAB94OQxYHxmMFF6hGjQVH57feq6VqP4RW-K8tg75AGQJt-PVU07cx--~HljUUPs~Rb6iYned678GQPSecjjZmZVt0A30bmJJ5hTg9vymoucCc25alOwpSIYtQ__">
                    NERY 2 VŨNG TÀU VEI</a>
              </div>
          </div>
        </div>
          <!-- box căn hộ khác -->
      </div>
    </div>

    <footer class="footer mt-5">
      <div class="container py-5">
        <div class="row">
          <!-- Cột 1: Liên hệ -->
          <div class="col-md-6 col-lg-4">
            <h5 class="fw-bold mb-3 text-white">LIÊN HỆ CHÚNG TÔI</h5>
            <ul class="list-unstyled">
                <li class="d-flex align-items-center mb-2">
                    <i class="fas fa-envelope" style="color:#9d972d;"></i> <span class="ms-2 text-white">Email: 23521271@gm.uit.edu.vn</span>
                </li>
                <li class="d-flex align-items-center mb-2">
                    <i class="fas fa-phone" style="color: #28a745;"></i> <span class="ms-2 text-white">Số điện thoại: 080-678-963-210</span>
                </li>
                <li class="d-flex align-items-center mb-2">
                    <i class="fas fa-map-marker-alt" style="color: #dc3545;"></i> <span class="ms-2 text-white">Địa chỉ: 183B/19, quận Cam, TP. Sài Gòn</span>
                </li>
            </ul>
        </div>

          <!-- Cột 2: Mạng xã hội -->
          <div class="col-md-6 col-lg-4">
            <h5 class="fw-bold mb-3 text-white">MẠNG XÃ HỘI</h5>
            <ul class="list-unstyled">
              <li class="d-flex align-items-center mb-2">
                <div class="icon-circle">
                  <i class="fab fa-instagram" style="background: linear-gradient(to right, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); -webkit-background-clip: text; -webkit-text-fill-color: transparent;"></i>
                </div>
                <a href="#" class="social-link" style="color: white"
                  >Instagram</a
                >
              </li>
              <li class="d-flex align-items-center mb-2">
                <div class="icon-circle">
                  <i class="fab fa-facebook" style="color:#1877F2;"></i>
                </div>
                <a href="#" class="social-link" style="color: white"
                  >Facebook</a
                >
              </li>
              <li class="d-flex align-items-center mb-2">
                <div class="icon-circle">
                  <i class="fab fa-youtube" style="color: #ff0000;"></i>
                </div>
                <a href="#" class="social-link" style="color: white">Youtube</a>
              </li>
              <li class="d-flex align-items-center">
                <div class="icon-circle">
                  <i class="fab fa-twitter" style="color: #000000;"></i>
                </div>
                <a href="#" class="social-link" style="color: white">Twitter</a>
              </li>
            </ul>
          </div>

          <!-- Cột 3: Bản đồ -->
          <div class="col-md-4">
            <h5 class="fw-bold mb-3" style="color: white">MAPS</h5>
            <iframe
              src="https://www.openstreetmap.org/export/embed.html?bbox=107.077%2C10.345%2C107.220%2C10.405"
              width="100%"
              height="150"
              style="border-radius: 10px; border: 2px solid #ccc"
              allowfullscreen=""
            >
            </iframe>
          </div>
        </div>
      </div>

      <!-- Dòng dưới cùng -->
      <div class="footer-bottom text-center py-3">
        <p class="mb-0">&copy; 2025 - Thiết kế bởi <b>UIT Team 10</b></p>
      </div>
    </footer>

    <!-- Thêm FontAwesome để hiển thị icon -->
    <script
      src="https://kit.fontawesome.com/a076d05399.js"
      crossorigin="anonymous"
    ></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
